# Fichiers et dossiers liés à Git
.git
.gitignore

# Environnements virtuels Python
.venv*
venv/

# Fichiers Python compilés et caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers de développement et de build
.idea/
.vscode/
build-dir/
repo/
dist/
*.egg-info/

# Les dossiers packaging n'ont pas besoin d'être dans l'image finale
docker/
flatpak/
appimage/
assets/
