[Desktop Entry]
Version=1.0
Name=BlueNotebook
GenericName=Markdown Journal Editor
GenericName[fr]=Éditeur de journal Markdown
Comment=Markdown journal editor with real-time preview
Exec=/home/jm/PycharmProjects/BlueNotebook/run_bluenotebook.sh
Icon=/home/jm/PycharmProjects/BlueNotebook/bluenotebook/resources/images/bluenotebook_256-x256_fond_blanc.png
Terminal=false
Type=Application
Categories=Office;TextEditor;Development;
StartupNotify=true

